@import '../../assets/sass/variables';
.configurator{
    margin: 120px 0px;
    &_description{
        &_title{
            font-size: 36px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: 0.77px;
            color: $secondary;
            background-color: $primary;
            
        }
        p{
            margin-top: 32px;
            font-size: 16px;
            font-weight: normal;
            line-height: 1.5;
            letter-spacing: normal;
        }
    }    
    
    &_calculator
    {
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: -$black;
        .result{
            text-align: center;
        }
        &_label{
            max-width: 157px;
        }
        &_input{
            display: inline-flex;
            float: right;
            height: 52px;
            background-color: $secondary;
            border-radius: 4px;
            border: solid 1px #d6dcff;
            font-size: 36px;
            font-weight: 500;
            color: $black;
            p{
                color: $gray;
                font-size: 24px;
                margin: auto;
            }

        }
        &_simbol{
            font-size: 36px;
            font-weight: 500;
            line-height: 1.11;
            letter-spacing: 0.77px;
            color:$primary;
        }
        &_quantity{
            font-size: 72px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 1px;
            text-align: right;
            color:$primary;
        }
    }
}